aiohttp
asyncio
beautifulsoup4
flask
flask_restful
google
google-api-python-client
googlesearch-python
gunicorn
gtts
heroku3
lyricsgenius
openai==0.28
Pillow
pyrogram==2.0.105
pymediainfo
random2
requests
telegraph
TgCrypto
wget
youtube-search-python
yt-dlp==2024.5.27
